@using Microsoft.AspNet.Identity


<h2>Home: @ViewBag.Title</h2>

@if (Request.IsAuthenticated)
{
    <p>User: <b>@User.Identity.GetUserName()</b></p>

    <ul>
        @if (@User.IsInRole("Editor")){<li>Role: Editor</li>}
        @if (@User.IsInRole("Admin")){<li>Role: Admin</li>}
    </ul>
}
else
{
    <p>Not logged in</p>
}